name: Update Jira Ticket Status

on:
  push:
    branches:
      - main

jobs:
  update_jira:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout Repository
       uses: actions/checkout@v2

     - name: Set up Python
       uses: actions/setup-python@v2
       with:
         python-version: 3.x  # Choose your desired Python version
  
     - name: Install Dependencies
       run: pip install requests
  
     - name: Run Selenium Tests
       run: |
         echo "Selenium Test Successfully"
         echo "ok"
         
     - name: Login
       uses: atlassian/gajira-login@master
       env:
         JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
         JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
         JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
         
     - name: Comment
       uses: atlassian/gajira-comment@v3
       with:
          issue: SCRUM-1
          comment: "This is an automated comment"
  
