name: Update Jira Ticket Status

on:
  push:
    branches:
      - main  # Replace with your main branch name

jobs:
  update_jira_status:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x  # Choose your desired Python version

    - name: Install Dependencies
      run: pip install requests

    - name: Run Selenium Tests
      run: |
        echo "Selenium Test Successfully"

    - name: Jira Login
      uses: atlassian/gajira-login@v3
      env:
        JIRA_BASE_URL: "https://infocusp.atlassian.net/"
        JIRA_USER_EMAIL: "saumil@infocusp.com"
#        JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
        JIRA_API_TOKEN: ATATT3xFfGF09_MIU_WOQDRHY7pZOebiFQ4hkl-6CH682kKbSrd8S-fafIjQTdNTQHRjJQOW-w_HQjvGWHunzGzcsvjzER_Vy_vqGOjx57c93eO8Xprw-TuhJB71q8bNw1phUV63h-lwBRuhtN2m4xqpErHkRVWDo9Eygjq6k3XnH3CXvYswwq8=79AAF183


    - name: Comment
      uses: atlassian/gajira-comment@v3
      with:
        issue: TEST-1
        comment: "This is an automated comment"


#    - name: Update Jira Ticket Status
#      env:
#        JIRA_USERNAME: "Saumil Rewari"
#        JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
#        JIRA_TICKET_KEY: "YOUR-JIRA-TICKET-KEY"  # Replace with the actual Jira ticket key
#        NEW_STATUS: "In Progress"  # Replace with the desired new status
#      run: |
#        python update_jira_status.py
#
#    - name: Add Comment to Jira Ticket
#      env:
#        JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
#        JIRA_BASE_URL: "https://your-jira-instance.atlassian.net"  # Replace with your Jira instance URL
#        JIRA_ISSUE_KEY: "YOUR-JIRA-ISSUE-KEY"  # Replace with the actual Jira issue key
#      run: |
#        python add_comment_to_jira.py

